section.common-section {
    min-height: 70vh;
}

section.text-section {
    min-height: 50vh;
    margin-top: 200px;
}

section.common-section:not(:first-of-type) {
    margin-top: 100px;
}

section.common-section:last-of-type {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fade-in-y {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.fade-out-y {
    opacity: 0 !important;
    transform: translateY(8px) !important;
}

.fade-in-x {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.fade-out-x {
    opacity: 0 !important;
    transform: translateX(-8px) !important;
}
